:root {
 --backgroundColor: hsl(47, 88%, 63%);

--mainDivColor : hsl(0, 0%, 100%);

--paraghrapColor: hsl(0, 0%, 42%);
--paraghrapHeadingColor:  hsl(0, 0%, 7%)

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--backgroundColor);
    font-family: "Figtree";

}


main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;

}


.main-div{
        height: 100vh;
    width: 50%;
    background-color: var(--mainDivColor);
    margin-top: 35%;
    margin-bottom: 25%;
    border-radius: 20px;
    box-shadow: 9px 8px 0px 0px black;
    padding: 15px;
    overflow-Y: hidden; 
    
}


.image {
    display: flex;
    height: 30vh;
}


.image img{
    display: block;
    border-radius: 10px;
    margin-bottom: 5px;
}

.image img:hover{
    transform: scale(1.05);
    cursor: pointer;
}


.text {
    display: block;
    height: 70%;
    margin-top: 5px;
    padding-left: 5px;
}

.text h3{
    display: inline-block;
    background-color: var(--backgroundColor);
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.text h3:hover, h3:focus {
    background-color: navy;
    color: white;
    cursor: pointer;
}

p:first-of-type{
    color: var(--paraghrapHeadingColor);
    margin-top: 5px;
}

h1{
    font-size: 24px;
    font-weight: 800;
    margin: 14px 0;
}

h1:hover, h1:focus {
    color: var(--backgroundColor);
    cursor: pointer;
}

p:nth-of-type(2){
    color: var(--paraghrapColor);
    font-weight: 400;
    font-size: 16px;
}

p:nth-of-type(3){
    font-weight: 800;
    margin-top: 20px ;
    padding: 10px 0;
}


p .avtar {
    height: 30px;
    width: auto;
    vertical-align: middle;
}


.attribution { font-size: 16px; text-align: center; }


.attribution a { color: hsl(228, 45%, 44%); }



